.lights__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  margin-top: 0.2rem;
  z-index: 0;
}

.lights__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fbf7f4;
  padding: 0.25rem 1.5rem;
  margin-top: 0.2rem;
}

.lights__item.active {
  background: #c8dcc6;
}

.lights__item p {
  text-transform: uppercase;
  cursor: pointer;
}

.lights__item__actions{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.lights__item__actions > div{
  padding: 0;
  gap: 0.5rem;
}
