.device-modal{
    width: 500px;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    position: relative;
}

.device-modal h1{
    text-align: center;
    margin-top: 0;
}

.device-modal__form-group{
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #BBD6B8;
}

.device-modal__form-group label{
    font-size: 1.1rem;
    font-weight: 700;
}

.device-modal__form-group input, select{
    height: 2rem;
    border-radius: 5px;
    outline: none;
    padding: 0 0.8rem;
}

.device-modal__form-group select{
    width: 30%;
}

.device-modal__form-group select span{
    height: 1rem !important;
}

form button{
    margin: 0 auto;
    display: block;
    padding: 0.8rem 1rem;
    background: #F1F1F1;
    border: none;
    border-radius: 10px;
    font-weight: 800;
    cursor: pointer;
    color: #BBD6B8;

}

form button:hover{
    color: #539165;
}