.history-logs__table{
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 0.2rem;
}

.history-logs__table thead tr th, tbody tr td{
    width:10em !important;
}

.history-logs__table tbody{
    max-height: 63vh;
    display: block;
    overflow: auto;
    width:70vw;
}

.history-logs__table thead tr, tbody tr {
    display: flex;
    width: 100%;
    margin:.5em 0;
}

.device-detail__schedule{
    height:30em;
    overflow: scroll;
}

.devices .pagination{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top:.3em;
}
.devices .pagination li button{
    width:fit-content;
    padding:1em;
    margin:0 .2em;
    border:none;
    border-radius: 5px;
}
.devices .pagination li button:hover{
    background-color: #C8DCC6;
    cursor: pointer;
}
.devices .pagination li.active button{
    background-color: #C8DCC6;
    cursor: pointer;
    font-weight: bold;
}


