.history-logs__table{
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 0.2rem;
}

.history-logs__table thead tr th, tbody tr td{
    width:10em !important;
}

.history-logs__table tbody{
    max-height: 65vh;
    display: block;
    overflow: auto;
    width:70vw;
}

.history-logs__table thead tr, tbody tr {
    display: flex;
    width: 100%;
    margin:.5em 0;
}

.device-detail__schedule{
    height:34em;
    overflow: scroll;
}