.history-logs__table{
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 0.2rem;
}

.history-logs__table td{
    word-break: break-all;
    font-style: italic;
}


.history-logs__table tbody{
    max-height: 70vh;
    display: block;
    overflow: auto;
}


.history-logs__table tbody tr{
    margin-bottom: 5px;
}

.history-logs__table thead tr {
    display: flex;
    table-layout: fixed;/* even columns width , fix width of table too*/
}


.history-logs__table thead tr > th {
    text-align:center;
}

.history-logs__table thead tr > th:nth-child(2) {
    margin-left: 90px;
}

.history-logs__table thead tr > th:nth-child(3) {
    margin-left: 85px;
}

.history-logs__table thead tr > th:nth-child(4) {
    margin-left: 90px;
}

.history-logs__table thead tr > th:nth-child(5) {
    margin-left: 170px;
}