:root{
    --color-FBF7F4: #FBF7F4;
    --color-C8DCC6: #C8DCC6;
    --color-72a16e: #a0e09b;
    --color-9bc898: #9bc898;
    --color-F1F1F1: #F1F1F1;
    --color-D9D9D9: #D9D9D9;
    --color-ACACAC: #ACACAC;
    --color-383838: #383838;
}

.user hr{
    width:90%;
    color: var(--color-C8DCC6);
}
.user .setavatar{
    display: flex;
    width:30%;
    position: relative;
    left: 33%;
}
.user .setavatar img{
    width:4em;
    height: 4em;
    margin-left:2em;
    border-radius: 50%;
}
.user .setavatar button{
    font-family: 'Roboto Condensed';
    background-color: var(--color-C8DCC6);
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
    font-size:15px;
    width:10em;
    height:3em;
}

/*---Form---*/
.user .form{
    text-align: left;
    font-size: 20px;
}
.user .holder{
    width:53em;
    height:fit-content;
    border: solid 2px var(--color-9bc898);
    border-radius: 10px;
    padding:0.5em 0;
    margin:0.5em 0;
    box-shadow: 5px 10px 10px #acacac;
}
.user .form .input {
    display: flex;
    margin:1em 0em;
}
.user .form .input label,.user .form .label label{
    font-weight: bold;
    width:5em;
    padding:0 6em;
    margin-left:3em;
}
.user .form .input input{
    height:2.5em;
    width:20em;
    border-radius: 5px;
    border: solid 1px var(--color-383838);
    margin:0 1em;
}
.user .form .submit{
    display:flex;
    justify-content: center;
    margin-left:1.5em;
}
.user .form .submit button{
    width: 8em;
    height:3em;
    border-radius: 10px; 
    border:none;
    font-size: 15px;
    font-weight: bold;
    margin-top:1.5em;
    font-family: 'Roboto Condensed';
}
.user .form .submit .save{
    background-color: var(--color-C8DCC6);
    color:white;
}
.user .form .submit .save:hover{
    background-color: var(--color-72a16e);
    color:white;
    cursor: pointer;
}
.user .submit button:hover{
    background-color:  var(--color-ACACAC);
    cursor: pointer;
}


/*---Password---*/
.user .ava{
    display: flex;
    justify-content: center;
    gap:2em;
}
.user .ava img{
    width: 5em;
    height: 5em;
    margin-left:2em;
    border-radius: 50%;
}
.ava .avatar_info{
    color:var(--color-383838);
}
.ava .avatar_info h4{
    margin-top:.5em;
}
.ava .avatar_info h5{
    margin-top:-1em;
    color: var(--color-ACACAC);
}

.setting{
    display: block;
    width:fit-content !important;
    margin:3% 35% !important;
    padding:3em 4em !important;
}
.setting button{
    width:15em;
    height:4em;
    margin:.5em .5em;
    font-family: 'Roboto Condensed';
    background-color: var(--color-C8DCC6);
    border:none;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.setting button:hover{
    background-color: var(--color-9bc898);
    cursor: pointer;
}

.row{
    display: flex;
}
.threshold {
    margin:2em 2.5em;
    height:5em;
    width:20em;
    padding:2em;
    border: solid 2px var(--color-9bc898);
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 10px 10px #acacac;
}
.threshold div{
    display: flex;
    margin-top:1em;
}
.threshold label{
    font-weight: bold;
    text-transform: uppercase;
}
.threshold input{
    height:2.5em;
    width:12em;
    margin:0 0.5em;
    border-radius: 5px;
    border:solid 1px var(--color-383838)
}
.user .form .submit .thresholdsubmit{
    background-color: var(--color-C8DCC6);
    color:white;
}
.user .form .submit .thresholdsubmit:hover{
    background-color: var(--color-72a16e);
    color:white;
    cursor: pointer;
}